<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial;
      padding: 40px;
    }

    h1 {
      color: #2563eb;
    }
  </style>
</head>
<body>

<h1>Hola {{nombre}}</h1>

<p>Este es un PDF de prueba.</p>

</body>
</html>